<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="video/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/*" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="text/*" />
        </intent>
    </queries>

    <application
        android:name=".ArchHandlerApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArcHandler"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/resource_paths" />
        </provider>

        <activity
            android:name=".feature.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ArcHandler">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.createarchive.CreateArchiveActivity"
            android:theme="@style/Theme.ArcHandler" />

        <activity
            android:name=".feature.storagepicker.StoragePickerActivity"
            android:theme="@style/Theme.ArcHandler" />

        <activity
            android:name=".feature.archiveview.ArchiveViewActivity"
            android:theme="@style/Theme.ArcHandler" />

        <activity
            android:name=".feature.about.AboutActivity"
            android:theme="@style/Theme.ArcHandler" />

        <activity
            android:name=".feature.settings.SettingsActivity"
            android:theme="@style/Theme.ArcHandler" />

        <activity
            android:name=".feature.duplicatefinder.DuplicateFinderActivity"
            android:theme="@style/Theme.ArcHandler" />

        <activity
            android:name=".feature.importfile.ImportFileActivity"
            android:theme="@style/Theme.ArcHandlerTransparent"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:mimeType="*/*" />
                <data android:scheme="file" android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>